<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bad_alien_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{270,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,346}}</string>
                <key>sourceSize</key>
                <string>{270,346}</string>
            </dict>
            <key>bad_alien_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1},{270,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,346}}</string>
                <key>sourceSize</key>
                <string>{270,346}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bad_alien_tipo_1.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71d6e7eed0184f571ee5f5a263cf007d:e368e4644ae13d2600a8cea5408e413f:6ed225b0783953899afe8107ef9769c3$</string>
            <key>textureFileName</key>
            <string>bad_alien_tipo_1.png</string>
        </dict>
    </dict>
</plist>
