<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cossino_jump1.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,816},{63,200}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,4},{63,200}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_jump10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,677},{155,152}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,8},{155,152}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_jump11.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,737},{165,162}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,10},{165,162}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_jump12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,864},{157,158}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,25},{157,158}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_jump13.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,186},{149,174}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,29},{149,174}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_jump14.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,362},{125,172}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,34},{125,172}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_jump15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,172},{111,164}}</string>
                <key>offset</key>
                <string>{18,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,42},{111,164}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_jump16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,335},{97,154}}</string>
                <key>offset</key>
                <string>{25,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,52},{97,154}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_jump17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,834},{85,146}}</string>
                <key>offset</key>
                <string>{27,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,60},{85,146}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_jump18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,702},{89,160}}</string>
                <key>offset</key>
                <string>{28,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,46},{89,160}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_jump19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,2},{85,170}}</string>
                <key>offset</key>
                <string>{26,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,36},{85,170}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_jump2.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,404},{89,190}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,14},{89,190}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_jump20.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,200},{77,184}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,22},{77,184}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_jump21.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,810},{71,194}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,10},{71,194}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_jump22.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{71,196}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,8},{71,196}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_jump3.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{105,174}}</string>
                <key>offset</key>
                <string>{12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,30},{105,174}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_jump4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,494},{143,154}}</string>
                <key>offset</key>
                <string>{6,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,50},{143,154}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_jump5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,517},{125,158}}</string>
                <key>offset</key>
                <string>{13,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,46},{125,158}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_jump6.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,2},{123,182}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,24},{123,182}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_jump7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{119,186}}</string>
                <key>offset</key>
                <string>{16,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,19},{119,186}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_jump8.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,737},{137,166}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,10},{137,166}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_jump9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{137,168}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,0},{137,168}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,386},{175,168}}</string>
                <key>offset</key>
                <string>{24,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,7},{175,168}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_run10.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,799},{173,150}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,29},{173,150}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_run11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,172},{161,154}}</string>
                <key>offset</key>
                <string>{19,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,34},{161,154}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_run12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,2},{135,160}}</string>
                <key>offset</key>
                <string>{25,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,34},{135,160}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_run13.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,905},{117,164}}</string>
                <key>offset</key>
                <string>{29,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,35},{117,164}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_run14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,904},{117,158}}</string>
                <key>offset</key>
                <string>{29,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,34},{117,158}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_run15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,335},{157,146}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,35},{157,146}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_run16.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,606},{191,148}}</string>
                <key>offset</key>
                <string>{25,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,35},{191,148}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_run17.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,616},{201,146}}</string>
                <key>offset</key>
                <string>{25,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,31},{201,146}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,563},{171,172}}</string>
                <key>offset</key>
                <string>{32,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,18},{171,172}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,536},{159,164}}</string>
                <key>offset</key>
                <string>{45,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,35},{159,164}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_run4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,351},{139,164}}</string>
                <key>offset</key>
                <string>{48,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,34},{139,164}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_run5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,164},{139,152}}</string>
                <key>offset</key>
                <string>{21,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,35},{139,152}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_run6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,2},{149,148}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,35},{149,148}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_run7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,2},{161,136}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,35},{161,136}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_run8.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,178},{171,144}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,35},{171,144}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_run9.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,834},{185,142}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,33},{185,142}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_shooting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{89,200}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,4},{89,200}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_shooting10.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,816},{63,200}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,4},{63,200}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_shooting2.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,204},{123,200}}</string>
                <key>offset</key>
                <string>{39,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,4},{123,200}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_shooting3.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,408},{145,200}}</string>
                <key>offset</key>
                <string>{44,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,4},{145,200}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_shooting4.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,412},{155,200}}</string>
                <key>offset</key>
                <string>{50,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,4},{155,200}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_shooting5.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,819},{153,200}}</string>
                <key>offset</key>
                <string>{51,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,4},{153,200}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_shooting6.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{147,200}}</string>
                <key>offset</key>
                <string>{50,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,4},{147,200}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_shooting7.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,614},{149,200}}</string>
                <key>offset</key>
                <string>{53,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,4},{149,200}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_shooting8.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,206},{147,200}}</string>
                <key>offset</key>
                <string>{54,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,4},{147,200}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_shooting9.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{81,200}}</string>
                <key>offset</key>
                <string>{20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,4},{81,200}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_stand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,412},{69,202}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,4},{69,202}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_stand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{69,204}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,2},{69,204}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_stand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,208},{69,204}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,2},{69,204}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_stand4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{69,206}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{69,206}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,626},{65,206}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,0},{65,206}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_walk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,210},{73,204}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,2},{73,204}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_walk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,414},{59,204}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,2},{59,204}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_walk12.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,620},{55,204}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,2},{55,204}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_walk13.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{79,202}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,3},{79,202}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_walk14.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,610},{95,198}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,6},{95,198}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_walk15.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,406},{83,198}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,7},{83,198}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_walk16.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,816},{55,200}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,6},{55,200}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_walk17.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,2},{63,200}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,6},{63,200}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_walk18.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,418},{87,204}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,2},{87,204}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{69,204}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,1},{69,204}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{79,206}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,0},{79,206}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{87,206}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{75,206}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,0},{75,206}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,624},{67,204}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,1},{67,204}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,204},{67,200}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,6},{67,200}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,204},{71,198}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,8},{71,198}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>cossino_walk9.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,208},{81,202}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,4},{81,202}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cossino.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a67a2af0f4b8db1f5cb475c831381a7e:e56a099e7d140d225900857a79b8a31b:afe759d740d7797feecc74fc361e3a44$</string>
            <key>textureFileName</key>
            <string>cossino.png</string>
        </dict>
    </dict>
</plist>
