<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lander_lanza.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{465,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,46}}</string>
                <key>sourceSize</key>
                <string>{465,50}</string>
            </dict>
            <key>lander_lanzamov.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{465,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,46}}</string>
                <key>sourceSize</key>
                <string>{465,50}</string>
            </dict>
            <key>lander_sale1.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,954},{103,43}}</string>
                <key>offset</key>
                <string>{-6,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,183},{103,43}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_sale10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,2},{201,197}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,58},{201,197}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_sale11.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,251},{237,207}}</string>
                <key>offset</key>
                <string>{9,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,47},{237,207}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_sale12.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,259},{255,207}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{255,207}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_sale13.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{251,207}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{251,207}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_sale2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{111,51}}</string>
                <key>offset</key>
                <string>{-10,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,184},{111,51}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_sale3.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,773},{105,51}}</string>
                <key>offset</key>
                <string>{-6,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,183},{105,51}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_sale4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,900},{139,87}}</string>
                <key>offset</key>
                <string>{-5,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,168},{139,87}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_sale5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,900},{159,117}}</string>
                <key>offset</key>
                <string>{-4,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,137},{159,117}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_sale6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,2},{171,147}}</string>
                <key>offset</key>
                <string>{-1,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,108},{171,147}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_sale7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,205},{173,167}}</string>
                <key>offset</key>
                <string>{-2,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,88},{173,167}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_sale8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,438},{173,177}}</string>
                <key>offset</key>
                <string>{-2,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,78},{173,177}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_sale9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,699},{199,189}}</string>
                <key>offset</key>
                <string>{-14,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,66},{199,189}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_shoot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{251,207}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{251,207}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_shoot10.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,259},{173,255}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{173,255}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_shoot11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,229},{173,207}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,48},{173,207}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_shoot12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,490},{173,207}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,48},{173,207}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_shoot13.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,745},{173,207}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,48},{173,207}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_shoot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,504},{239,207}}</string>
                <key>offset</key>
                <string>{-8,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{239,207}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_shoot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{225,207}}</string>
                <key>offset</key>
                <string>{-15,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{225,207}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_shoot4.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,512},{205,251}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{205,251}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_shoot5.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,516},{173,255}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{173,255}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_shoot6.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,516},{181,255}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{181,255}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_shoot7.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,771},{251,227}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,27},{251,227}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_shoot8.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,255},{217,247}}</string>
                <key>offset</key>
                <string>{19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,8},{217,247}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_shoot9.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{255,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,255}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_stand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{251,207}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{251,207}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_stand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,773},{249,207}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{249,207}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_stand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,765},{247,207}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{247,207}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_stand4.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,2},{247,207}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{247,207}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_stand5.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,773},{249,207}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{249,207}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_stand6.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,257},{253,207}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{253,207}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_stand7.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{253,207}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{253,207}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lander_stand8.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,516},{253,207}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{253,207}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lander.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a49c1f0ac1130d5d0d2180605c3ccb94:73e2ba6e333fe59e946322cb822b87bc:95de08d698bd995031ed0777d6fffc36$</string>
            <key>textureFileName</key>
            <string>lander.png</string>
        </dict>
    </dict>
</plist>
