<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>nada2.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,137},{76,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,31}}</string>
				<key>sourceSize</key>
				<string>{76,31}</string>
			</dict>

			<key>nada3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,461},{76,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,31}}</string>
				<key>sourceSize</key>
				<string>{76,31}</string>
			</dict>

			<key>nada_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,169},{74,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,31}}</string>
				<key>sourceSize</key>
				<string>{74,31}</string>
			</dict>

			<key>slice01_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,49},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>slice02_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,295},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>slice03_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,392},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>slice04_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,197},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>slice05_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,98},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>slice06_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,0},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>slice07_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,49},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>slice08_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,441},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>slice09_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,147},{48,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,49}}</string>
				<key>sourceSize</key>
				<string>{48,49}</string>
			</dict>

			<key>slice100_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,506},{14,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,5}}</string>
				<key>sourceSize</key>
				<string>{14,5}</string>
			</dict>

			<key>slice101_@.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,405},{60,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,90}}</string>
				<key>sourceSize</key>
				<string>{60,90}</string>
			</dict>

			<key>slice102_@.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,147},{21,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{21,10}}</string>
				<key>sourceSize</key>
				<string>{21,10}</string>
			</dict>

			<key>slice103_@.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,217},{4,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{4,10}}</string>
				<key>sourceSize</key>
				<string>{4,10}</string>
			</dict>

			<key>slice104_@.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,339},{54,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,55}}</string>
				<key>sourceSize</key>
				<string>{54,55}</string>
			</dict>

			<key>slice105_@.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,287},{120,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,68}}</string>
				<key>sourceSize</key>
				<string>{120,68}</string>
			</dict>

			<key>slice106_@.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,461},{63,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,40}}</string>
				<key>sourceSize</key>
				<string>{63,40}</string>
			</dict>

			<key>slice107_@.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,405},{62,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,86}}</string>
				<key>sourceSize</key>
				<string>{62,86}</string>
			</dict>

			<key>slice108_@.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,137},{29,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,23}}</string>
				<key>sourceSize</key>
				<string>{29,23}</string>
			</dict>

			<key>slice109_@.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,123},{28,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,23}}</string>
				<key>sourceSize</key>
				<string>{28,23}</string>
			</dict>

			<key>slice10_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,294},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>slice110_@.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,482},{29,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,23}}</string>
				<key>sourceSize</key>
				<string>{29,23}</string>
			</dict>

			<key>slice111_@.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,99},{28,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,23}}</string>
				<key>sourceSize</key>
				<string>{28,23}</string>
			</dict>

			<key>slice112_@.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,482},{29,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,23}}</string>
				<key>sourceSize</key>
				<string>{29,23}</string>
			</dict>

			<key>slice113_@.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,476},{29,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,23}}</string>
				<key>sourceSize</key>
				<string>{29,23}</string>
			</dict>

			<key>slice114_@.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,493},{26,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,18}}</string>
				<key>sourceSize</key>
				<string>{26,18}</string>
			</dict>

			<key>slice11_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,134},{49,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,111}}</string>
				<key>sourceSize</key>
				<string>{49,111}</string>
			</dict>

			<key>slice12_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,482},{33,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,29}}</string>
				<key>sourceSize</key>
				<string>{33,29}</string>
			</dict>

			<key>slice13_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,169},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>

			<key>slice14_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,491},{4,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{4,16}}</string>
				<key>sourceSize</key>
				<string>{4,16}</string>
			</dict>

			<key>slice15_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,98},{10,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{10,31}}</string>
				<key>sourceSize</key>
				<string>{10,31}</string>
			</dict>

			<key>slice16_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,295},{5,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,32}}</string>
				<key>sourceSize</key>
				<string>{5,32}</string>
			</dict>

			<key>slice17_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,492},{19,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,16}}</string>
				<key>sourceSize</key>
				<string>{19,16}</string>
			</dict>

			<key>slice18_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,492},{17,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,17}}</string>
				<key>sourceSize</key>
				<string>{17,17}</string>
			</dict>

			<key>slice19_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,246},{39,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,40}}</string>
				<key>sourceSize</key>
				<string>{39,40}</string>
			</dict>

			<key>slice22_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,442},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>slice23_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,245},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>slice24_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,343},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>slice25_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,441},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>slice26_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,0},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>slice27_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,281},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>

			<key>slice28_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,179},{35,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,66}}</string>
				<key>sourceSize</key>
				<string>{35,66}</string>
			</dict>

			<key>slice29_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,49},{35,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,40}}</string>
				<key>sourceSize</key>
				<string>{35,40}</string>
			</dict>

			<key>slice31_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,393},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>slice32_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,98},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>slice33_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,196},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>slice34_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,0},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>slice35_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,356},{115,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,52}}</string>
				<key>sourceSize</key>
				<string>{115,52}</string>
			</dict>

			<key>slice36_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,493},{29,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,14}}</string>
				<key>sourceSize</key>
				<string>{29,14}</string>
			</dict>

			<key>slice37_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,0},{12,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,43}}</string>
				<key>sourceSize</key>
				<string>{12,43}</string>
			</dict>

			<key>slice38_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,453},{11,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{11,46}}</string>
				<key>sourceSize</key>
				<string>{11,46}</string>
			</dict>

			<key>slice39_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,105},{4,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{4,24}}</string>
				<key>sourceSize</key>
				<string>{4,24}</string>
			</dict>

			<key>slice40_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,453},{12,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,38}}</string>
				<key>sourceSize</key>
				<string>{12,38}</string>
			</dict>

			<key>slice41_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,197},{5,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,23}}</string>
				<key>sourceSize</key>
				<string>{5,23}</string>
			</dict>

			<key>slice42_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,201},{74,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,31}}</string>
				<key>sourceSize</key>
				<string>{74,31}</string>
			</dict>

			<key>slice43_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{240,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,160}}</string>
				<key>sourceSize</key>
				<string>{240,160}</string>
			</dict>

			<key>slice44_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,339},{5,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,10}}</string>
				<key>sourceSize</key>
				<string>{5,10}</string>
			</dict>

			<key>slice45_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,161},{4,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{4,7}}</string>
				<key>sourceSize</key>
				<string>{4,7}</string>
			</dict>

			<key>slice46_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,492},{17,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,12}}</string>
				<key>sourceSize</key>
				<string>{17,12}</string>
			</dict>

			<key>slice47_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,160},{5,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,8}}</string>
				<key>sourceSize</key>
				<string>{5,8}</string>
			</dict>

			<key>slice48_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,502},{11,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{11,7}}</string>
				<key>sourceSize</key>
				<string>{11,7}</string>
			</dict>

			<key>slice49_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,228},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{4,4}}</string>
				<key>sourceSize</key>
				<string>{4,4}</string>
			</dict>

			<key>slice50_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,506},{5,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,5}}</string>
				<key>sourceSize</key>
				<string>{5,5}</string>
			</dict>

			<key>slice51_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,154},{5,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,6}}</string>
				<key>sourceSize</key>
				<string>{5,6}</string>
			</dict>

			<key>slice52_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,147},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>slice53_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,0},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>slice54_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,246},{38,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,40}}</string>
				<key>sourceSize</key>
				<string>{38,40}</string>
			</dict>

			<key>slice55_55.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,0},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>slice56_56.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,246},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>slice57_57.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,190},{87,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,91}}</string>
				<key>sourceSize</key>
				<string>{87,91}</string>
			</dict>

			<key>slice58_58.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,99},{87,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,90}}</string>
				<key>sourceSize</key>
				<string>{87,90}</string>
			</dict>

			<key>slice59_59.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,295},{8,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{8,32}}</string>
				<key>sourceSize</key>
				<string>{8,32}</string>
			</dict>

			<key>slice60_60.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,49},{40,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,64}}</string>
				<key>sourceSize</key>
				<string>{40,64}</string>
			</dict>

			<key>slice61_61.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,105},{5,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,19}}</string>
				<key>sourceSize</key>
				<string>{5,19}</string>
			</dict>

			<key>slice62_62.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,217},{8,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{8,28}}</string>
				<key>sourceSize</key>
				<string>{8,28}</string>
			</dict>

			<key>slice63_63.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,114},{40,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,64}}</string>
				<key>sourceSize</key>
				<string>{40,64}</string>
			</dict>

			<key>slice64_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,217},{5,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,21}}</string>
				<key>sourceSize</key>
				<string>{5,21}</string>
			</dict>

			<key>slice65_65.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,395},{5,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,9}}</string>
				<key>sourceSize</key>
				<string>{5,9}</string>
			</dict>

			<key>slice66_66.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,370},{31,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,82}}</string>
				<key>sourceSize</key>
				<string>{31,82}</string>
			</dict>

			<key>slice67_67.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,287},{31,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,82}}</string>
				<key>sourceSize</key>
				<string>{31,82}</string>
			</dict>

			<key>slice68_68.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,161},{143,299}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,299}}</string>
				<key>sourceSize</key>
				<string>{143,299}</string>
			</dict>

			<key>slice69_69.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,233},{53,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,47}}</string>
				<key>sourceSize</key>
				<string>{53,47}</string>
			</dict>

			<key>slice70_70.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,287},{91,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,63}}</string>
				<key>sourceSize</key>
				<string>{91,63}</string>
			</dict>

			<key>slice71_71.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,134},{16,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,25}}</string>
				<key>sourceSize</key>
				<string>{16,25}</string>
			</dict>

			<key>slice72_72.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,98},{10,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{10,6}}</string>
				<key>sourceSize</key>
				<string>{10,6}</string>
			</dict>

			<key>slice73_73.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,496},{16,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,13}}</string>
				<key>sourceSize</key>
				<string>{16,13}</string>
			</dict>

			<key>slice74_74.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,502},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{4,4}}</string>
				<key>sourceSize</key>
				<string>{4,4}</string>
			</dict>

			<key>slice75_75.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,502},{9,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{9,6}}</string>
				<key>sourceSize</key>
				<string>{9,6}</string>
			</dict>

			<key>slice76_76.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,502},{20,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,9}}</string>
				<key>sourceSize</key>
				<string>{20,9}</string>
			</dict>

			<key>slice77_77.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,239},{5,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,4}}</string>
				<key>sourceSize</key>
				<string>{5,4}</string>
			</dict>

			<key>slice78_78.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,492},{17,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,18}}</string>
				<key>sourceSize</key>
				<string>{17,18}</string>
			</dict>

			<key>slice79_79.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,427},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>slice80_80.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,378},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>slice81_81.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,98},{14,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,32}}</string>
				<key>sourceSize</key>
				<string>{14,32}</string>
			</dict>

			<key>slice82_82.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,282},{83,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,56}}</string>
				<key>sourceSize</key>
				<string>{83,56}</string>
			</dict>

			<key>slice83_83.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,233},{56,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,46}}</string>
				<key>sourceSize</key>
				<string>{56,46}</string>
			</dict>

			<key>slice84_84.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,339},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,65}}</string>
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>

			<key>slice85_85.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,329},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>slice86_86.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,295},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,32}}</string>
				<key>sourceSize</key>
				<string>{25,32}</string>
			</dict>

			<key>slice87_87.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,344},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>slice88_88.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,246},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{21,33}</string>
			</dict>

			<key>slice89_89.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,491},{19,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,20}}</string>
				<key>sourceSize</key>
				<string>{19,20}</string>
			</dict>

			<key>slice90_90.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,0},{112,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,98}}</string>
				<key>sourceSize</key>
				<string>{112,98}</string>
			</dict>

			<key>slice91_91.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,409},{112,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,96}}</string>
				<key>sourceSize</key>
				<string>{112,96}</string>
			</dict>

			<key>slice92_92.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,0},{52,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,133}}</string>
				<key>sourceSize</key>
				<string>{52,133}</string>
			</dict>

			<key>slice93_93.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,0},{85,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,136}}</string>
				<key>sourceSize</key>
				<string>{85,136}</string>
			</dict>

			<key>slice94_94.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,161},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>slice95_95.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,502},{17,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,6}}</string>
				<key>sourceSize</key>
				<string>{17,6}</string>
			</dict>

			<key>slice96_96.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,356},{106,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{106,125}}</string>
				<key>sourceSize</key>
				<string>{106,125}</string>
			</dict>

			<key>slice97_97.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,493},{17,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,6}}</string>
				<key>sourceSize</key>
				<string>{17,6}</string>
			</dict>

			<key>slice98_98.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,505},{16,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,6}}</string>
				<key>sourceSize</key>
				<string>{16,6}</string>
			</dict>

			<key>slice99_99.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,147},{6,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{6,6}}</string>
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,512}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>