<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>auto.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,46},{109,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,45}}</string>
				<key>sourceSize</key>
				<string>{109,45}</string>
			</dict>

			<key>auto1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{110,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,45}}</string>
				<key>sourceSize</key>
				<string>{110,45}</string>
			</dict>

			<key>castor.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,132},{35,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,66}}</string>
				<key>sourceSize</key>
				<string>{35,66}</string>
			</dict>

			<key>castor1.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,0},{35,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,66}}</string>
				<key>sourceSize</key>
				<string>{35,66}</string>
			</dict>

			<key>castor2.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,83},{31,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,82}}</string>
				<key>sourceSize</key>
				<string>{31,82}</string>
			</dict>

			<key>castor3.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,0},{31,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,82}}</string>
				<key>sourceSize</key>
				<string>{31,82}</string>
			</dict>

			<key>castor4.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,0},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>

			<key>castor5.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,0},{37,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,73}}</string>
				<key>sourceSize</key>
				<string>{37,73}</string>
			</dict>

			<key>castor6.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,90},{32,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,89}}</string>
				<key>sourceSize</key>
				<string>{32,89}</string>
			</dict>

			<key>castor7.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,0},{33,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,89}}</string>
				<key>sourceSize</key>
				<string>{33,89}</string>
			</dict>

			<key>castor8.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,132},{35,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,66}}</string>
				<key>sourceSize</key>
				<string>{35,66}</string>
			</dict>

			<key>castor9.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,48},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>

			<key>corazon.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,96},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{36,35}}</string>
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>

			<key>heladera.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,100},{58,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,99}}</string>
				<key>sourceSize</key>
				<string>{58,99}</string>
			</dict>

			<key>heladera1.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,0},{58,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,99}}</string>
				<key>sourceSize</key>
				<string>{58,99}</string>
			</dict>

			<key>madera.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,199},{10,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{10,31}}</string>
				<key>sourceSize</key>
				<string>{10,31}</string>
			</dict>

			<key>mesa.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,92},{103,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,87}}</string>
				<key>sourceSize</key>
				<string>{103,87}</string>
			</dict>

			<key>mesa1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,92},{108,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,91}}</string>
				<key>sourceSize</key>
				<string>{108,91}</string>
			</dict>

			<key>piraña.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,46},{63,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,41}}</string>
				<key>sourceSize</key>
				<string>{63,41}</string>
			</dict>

			<key>piraña1.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,0},{63,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,40}}</string>
				<key>sourceSize</key>
				<string>{63,40}</string>
			</dict>

			<key>silla.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,67},{35,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,60}}</string>
				<key>sourceSize</key>
				<string>{35,60}</string>
			</dict>

			<key>silla1.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,128},{34,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,59}}</string>
				<key>sourceSize</key>
				<string>{34,59}</string>
			</dict>

			<key>sillon.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,200},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,54}}</string>
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>

			<key>sillon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,200},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,54}}</string>
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>

			<key>tiburon.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,184},{94,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,65}}</string>
				<key>sourceSize</key>
				<string>{94,65}</string>
			</dict>

			<key>tiburon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,184},{94,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,65}}</string>
				<key>sourceSize</key>
				<string>{94,65}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>